sudo: required

services:
  - docker

language: python

python:
  - 3.6


install:
  - pip install -U docker-compose
  - docker-compose build backend

script:
  - docker-compose run --rm backend ./manage.py test WaldmeisterMap
